# Set default behavior to automatically guess line endings
* text=auto

# Force LF for common source file types
*.kt text eol=lf
*.xml text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.json text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.bin binary
