# Android
**/build/
*.hprof
*.pyc
*.keystore
!debug.keystore

# Node / Next.js
**/node_modules/
**/.next/
**/.turbo/
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.iml

# Firebase & Secrets
android/app/google-services.json
android/app/google-services.json.bak
android/local.properties
.env*
